API_CLIENT_ID=
API_CLIENT_SECRET=
API_EXPIRATION_DATE=
API_CLIENT_API_KEY=
TM_HOST_ADDR=
COMPANION_ADDR=
COMPANION_MATCH_START_LOC=
COMPANION_MATCH_END_LOC=
COMPANION_IN_MATCH_LOC=
COMPANION_FIELD_ACTIVATION_LOC=
